/*********  Web Design
**********  2019FA.WEB.210.4101
**********  Nicolas D'Agata
**********  Lesson 03 - Assignment 01
**********  Kevin Morgan
**********  09/05/2019
*/

/* Global styles 
------------------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
    color: #ffe66d;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Kite One', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 25px;
  margin-top: 0;
}
.content-wrap {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}

/*-----------------------------------
   Header & Footer 
-----------------------------------*/
header, footer {
  background: #4d5057;
  color: #cfcfcf;
}
header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}
/* Header styles only */
.profile-img {
  border-radius: 50%;
}
/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

/*-----------------------------------
   Work Experience
------------------------------------*/
.work {
    background: #f7fff7;
}

/*-----------------------------------
 Education
------------------------------------*/
.education {
    background: #488EFD;
}